*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dcd6d6;
}
.container-div{
  width: 80%;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1)
}
.container-div h1{
  font-size: 30px;
  margin-bottom: 15px;
  margin-left: 18px;
  margin-top: 18px;
}
.container-div hr{
  width: 100%;
}
.container-div p{
  width: 90%;
  margin-left: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.container-div input{
  margin-left: 18px;
  height: 40px;
  width: 90%;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-left: 15px;
  outline: none;
}
.submit-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 18px;
}
.cancel-btn{
  width: 18%;
  height: 30px;
  border: none;
  background-color: #dcd6d6;
  color: rgb(85, 85, 85);
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
}
#search-btn{
  width: 18%;
  height: 30px;
  border: none;
  background-color: #1877f2;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 500;
}
/* error */
#ops{
  color: red;
  margin-top: -10px;
  font-size: 12px;
  margin-bottom: 24px;
  display: none;
}
